@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Business, Service">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="HuyLe">
    <title>@ViewData["Title"] - MineeLogistics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LogisticsWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/toastr/toastr.css">
    <!--====== Favicon Icon ======-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/LineIcons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <!-- Header Section Start -->
    <header id="home" class="hero-area">
        <nav class="navbar navbar-expand-md bg-white scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="~/img/logo/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto w-70 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link page-scroll text-dark" asp-area="Admin" asp-controller="Post" asp-action="Index">Bài đăng</a>
                                    </li>

                                </ul>
                            </li>
                        }
@*                         <li class="nav-item">
                            <a class="nav-link page-scroll text-dark" asp-area="Customer" asp-controller="Post" asp-action="Index">Bài viết</a>
                        </li> *@
                    </ul>

                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Section End -->

    <div>
        <main role="main" class="pb-0">
            <partial name="_Notification"></partial>
            @RenderBody()
        </main>
    </div>

    <!-- Footer Section Start -->
    <footer>
        <!-- Footer Area Start -->
        <section id="footer-Content">
            <div class="container">
                <div class="row company-info">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-mb-12">
                        <div class="align-content-center">
                            <img class="justify-content-end" src="~/img/logo/alphatranlogo.png" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-mb-12">
                        <h2>ALPHATRANS GROUP LOGISTICS</h2>
                        <p>Giấy chứng nhận ĐKKD số 0313384770 do sở kế hoạch và đầu tư thành phố Hồ Chí Minh cấp.</p>
                        <p>Head Office: 45A Nguyễn Thượng Hiền, Phường 6, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam.</p>
                    </div>
                </div>

                <div class="row hightlight">
                    
                </div>

                <!-- Start Row -->
                <div class="row ">
                    <!-- Start Col -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-mb-12">

                        <div class="footer-logo">
                            <img src="~/img/logo/logo.png" alt="">
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Start Col -->
                    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 col-mb-0">
                        <div class="widget">
                            <h3 class="block-title">VỀ CHÚNG TÔI</h3>
                            <ul class="menu">
                                <li><a href="#">- Giới thiệu</a></li>
                                <li><a href="#">- Liên hệ</a></li>
                                <li><a href="#">- FAQ</a></li>
                                <li><a href="#">- Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Start Col -->
                    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 col-mb-0">
                        <div class="widget">
                            <h3 class="block-title">Dịch vụ nổi bật</h3>
                            <ul class="menu">
                                <li><a href="#">- Hải quan trọn gói</a></li>
                                <li><a href="#">- Đường biển quốc tế</a></li>
                                <li><a href="#">- ĐƯờng bay quốc tế</a></li>
                                <li><a href="#">- Vận chuyển nội địa</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Col -->

                </div>
                <!-- End Row -->
            </div>
            <!-- Copyright Start  -->

            <div class="copyright">
                <div class="container">
                    <!-- Star Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-info text-center">
                                <p>Created by <a href="https://www.linkedin.com/in/huy-le-808935156/" rel="nofollow">Huy Le</a></p>
                            </div>

                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
            </div>
            <!-- Copyright End -->
        </section>
        <!-- Footer area End -->

    </footer>
    <!-- Footer Section End -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/scrolling-nav.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/nivo-lightbox.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.tiny.cloud/1/l2tdmkucgzffp55vij0uoqgdndlxaacawpeghaqd0jq33amr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
