@model List<Post>
<div class="container">
    <div class="container">
        <div class="row p-3">
            <div class="col-6">
                <h2 class="text-primary">
                    Post List
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Post" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Create New Post
                </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Content</td>
                    <td>
                        <div>
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                                Edit
                            </a>
                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
